@model IEnumerable<CalvaryOpebBibleWebsite.Models.Contact>
@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>
<div class="jumbotron">
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
<div class="jumbotron">
    <table class="table" style='color: #222;border-radius: 5px;box-sizing: border-box; border-color:#222'>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Email)
                </th>
            </tr>
        }
    </table>
</div>
