
<div class="jumbotron" style="width:90%; margin-left:5% ;">
    @{
        ViewBag.Title = "About";
    }
    <h1 style="text-align:center;">Get To Know Calvary Open Bible</h1>

    <p class="lead" style="width:auto; text-align:center">
        <br />
        Take a quick look at the pages below to get to know our great staff, and the beliefs or our church!
    </p>
</div>
<div class="ro" style="width:90%; margin-left:5%">
    <div class=" col-md-4" style=" border-style:none;background-color:lightgray; border-radius: 25px;height:200px;margin:1.5%;position:relative;max-width:500px;float:left;">
        <h2 style="text-align:center;">Core Beliefs</h2>
        <p style="text-align:center;">
            <br />
            Take a minute to view the core tenants of our faith!
        </p>
        <p style="text-align:center;">
            <br /><a class="btn btn-default" href="~/Beliefs/Index">Learn more &raquo;</a>
        </p>
    </div>


    <div class=" col-md-4" style=" border-style:none;background-color:lightgray; border-radius: 25px;height:200px;margin:1.5%;position:relative;max-width:500px;float:left;">
        <h2 style="text-align:center;">Church Leadership</h2>
        <p style="text-align:center;">
            <br />
            Check out some great information about our amazing staff!
        </p>
        <p style="text-align:center;">
            <br /><a class="btn btn-default" href="~/Pastors/Index">Learn more &raquo;</a>
        </p>
    </div>

    <div class=" col-md-4" style=" border-style:none;background-color:lightgray; border-radius: 25px;height:200px;margin:1.5%;position:relative;max-width:500px;float:left;">
        <h2 style="text-align:center;">Events</h2>
        <p style="text-align:center;">
            <br />
            Check out our weekly events, and a list of our upcoming events!
        </p>
        <p style="text-align:center;">
            <br /><a class="btn btn-default" href="~/Event/Index">Learn more &raquo;</a>
        </p>
    </div>
    <table style="visibility:hidden">
        <tr><td>ghaewhwaeh</td></tr>
    </table>
</div>
