
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="width:90%; margin-left:5%">
    <h2 style="margin-left:40%;">Media</h2>
   

</div>
<div style="width:90%; margin-left:5%">
    <div class=" col-md-4" style="background-color:lightgray; border-style:none;border-bottom-color:lightgray; border-radius: 25px;height:200px;width:30%;margin:1.5%;">
        <h2 style="text-align:center;">Photos</h2>
        <p style="text-align:center;">
            <br />
            Check out photos of our congregation and events!
        </p>
        <p style="text-align:center;">
            <br /><a class="btn btn-default" href="~/Images/Index">Photos &raquo;</a>
        </p>
    </div>


    <div class=" col-md-4" style="background-color:lightgray; border-style:none;border-bottom-color:lightgray; border-radius: 25px;height:200px;width:31%;margin:1.5%;">
        <h2 style="text-align:center;">Live Stream Video</h2>
        <p style="text-align:center;">
            <br />
            Watch a live stream of our Sunday Services
        </p>
        <p style="text-align:center;">
            <br /><a class="btn btn-default" href="~/Images/LiveStream">Live Stream &raquo;</a>
        </p>
    </div>

    <div class=" col-md-4" style="background-color:lightgray; border-style:none;border-bottom-color:lightgray; border-radius: 25px;height:200px;width:30%;margin:1.5%;">
        <h2 style="text-align:center;">Past Services</h2>
        <p style="text-align:center;">
            <br />
            Watch recordings of our previous services!
        </p>
        <p style="text-align:center;">
            <br /><a class="btn btn-default" href="~/Images/LiveStream">Recorded Video &raquo;</a>
        </p>
    </div>

</div>

