<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://calvaryopenbible.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>calvaryopenbible.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>calvaryopenbible</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$calvaryopenbible</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qde0jb8tc5.database.windows.net,1433;Initial Catalog=CALVARY;User ID=jpoet1291@qde0jb8tc5;Password=Parafin07" Name="Data Source=tcp:qde0jb8tc5.database.windows.net,1433;Initial Catalog=CALVARY;User Id=jpoet1291@qde0jb8tc5;Password=Parafin07" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CalvaryOpebBibleWebsite-20150401023213.mdf;Initial Catalog=aspnet-CalvaryOpebBibleWebsite-20150401023213;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CalvaryOpebBibleWebsite-20150401023213.mdf;Initial Catalog=aspnet-CalvaryOpebBibleWebsite-20150401023213;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CalvaryContext" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:qde0jb8tc5.database.windows.net,1433;Initial Catalog=CALVARY;User ID=jpoet1291@qde0jb8tc5;Password=Parafin07" Name="Data Source=tcp:qde0jb8tc5.database.windows.net,1433;Initial Catalog=CALVARY;User Id=jpoet1291@qde0jb8tc5;Password=Parafin07" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CalvaryOpebBibleWebsite.DAL.CalvaryContext, CalvaryOpebBibleWebsite" MigrationConfiguration="CalvaryOpebBibleWebsite.Migrations.Configuration, CalvaryOpebBibleWebsite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CalvaryContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qde0jb8tc5.database.windows.net,1433;Initial Catalog=CALVARY;User Id=jpoet1291@qde0jb8tc5;Password=Parafin07</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qde0jb8tc5.database.windows.net,1433;Initial Catalog=CALVARY;User Id=jpoet1291@qde0jb8tc5;Password=Parafin07</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>