@model IEnumerable<CalvaryOpebBibleWebsite.Models.Belief>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>Beliefs</h2>

    <table class="table" style='color: #222;border-radius: 5px;box-sizing: border-box; border-color:#222'>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BeliefTitle)
                </td>
                <td style=" width:90%">
                    @Html.Raw(item.BeliefDetails.Replace(Environment.NewLine, "<br/>"))
                </td>

            </tr>
        }

    </table>
</div>